/* E-Trade Layout */
/* Author: Shoumitra Dhar Sunny */

@font-face {
	font-family: 'solaimanlipinormal';
	src: url('../font/SolaimanLipi.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'solaimanlipinormal';
	font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	line-height: 23px;
}


/* //////////////////// */

/* sabbir Ahmed */

.logo_size {
     width: 134px !important;
}
.signature_size{
  width: 290px !important;
}
hr {
   border: 1px solid #ccc !important;
 }


/* Sunny Coding */

.container{
	/*border: 2px solid #ccc;*/
	border: 2px solid #000000;
	padding: 5px 20px 5px 20px;
}

.no-padding {
	padding: 0 !important;
}

header {
	/*border-bottom: 1px solid #ccc;*/
}

.header-top-left {}

.table th,
.table td {
	padding: 4px 12px 2px 18px;
	vertical-align: middle;
	border-top: 1px solid #eceeef;
	font-size: 17px;
	text-align: center;
}

.header-top-left img {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.header-top-mid {left:-17px;}

.header-top-mid h2 {
	font-size: 19px;
	text-align: center;
	font-weight: 600;
}

.header-top-mid h4 {
	font-size: 14px;
	text-align: center;
}

.header-top-mid h6 {
	font-size: 24px;
	text-align: center;
	font-weight: 600;
}

.header-top-right img {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}


/* ==== */

.mid_section p {
	/*padding: 18px;*/
	font-size: 17px;
	text-align: justify;
	margin-bottom: 10px;
}

.mid_section .totallead{
		background: #efefef;
		padding: 11px;
		/*padding: 18px;*/
}
.mid_section table td {
	text-align: left;
	vertical-align: middle;
}

.terms ul li {
	list-style: none;
	padding-bottom: 7px;
}

.page-second {
	text-align: center;
}

.page-second h2 {
	font-size: 34px;
}

.page-second h6 {
	font-size: 16px;
	line-height: 23px;
}

.cstbl_padding{padding: 0 !important;}
/*.total_amt th, .total_amt td{padding: 0px !important;}*/
.total_amt th{border-top:0px !important;}
/*.total_amt .table-bordered th, .total_amt .table-bordered td{border:0;}*/
.total_borderless_cls{border-right: 0px !important;}
.total_borderless_cls_lt{border-left: 0px !important;}

/* ==== */

@media print {
	.container {
		min-width: 1050px;
		margin: 0 auto;
	}
	.mid_section {
		page-break-after: always;
	}
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-11 {
		width: 91.66666667%;
	}
	.col-sm-10 {
		width: 83.33333333%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-8 {
		width: 66.66666667%;
	}
	.col-sm-7 {
		width: 58.33333333%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666667%;
	}
	.col-sm-4 {
		width: 33.33333333%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}
	.col-sm-1 {
		width: 8.33333333%;
	}
}